<nav class="navbar navbar-expand-lg navbar-light">
    <a><img src="assets/images/iconfinder_menu_5925630.png" class="menu-icon"></a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <img src="assets/images/weather/clear-icon.png" class="weather-icon">
        </li>
        <li class="nav-item">
          <span>28 c</span>
        </li>
        <li class="nav-item">
            <span>Mostly Cloudy</span>
        </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
            <span>Pristina, Kosovo</span>
        </li>
        <li class="nav-item">
            <span><i class="fa fa-search" aria-hidden="true"></i></span>
        </li>
    </ul>
</nav>