.navbar {
    background-color: transparent;
    color: #fff;
    .menu-icon {
        width: 35px;
    }
    .nav-item {
        padding-left: 20px;
        font-size: 25px;
        .weather-icon {
            width: 35px;
        }
    }
}

