<div class="display-container">
    <div class="row carousel">
        <div class="col-md-3 carousel-cell" *ngFor="let day of weatherDays">
            <div class="card" (click)="active = day.date; updateDailyForecastFromAppStore(day)" [ngClass]="{'active': active === day.date}">
                <div class="card-body">
                    <p class="date">{{ day.date | date: 'EEEE d' }}</p>
                    <img src="assets/images/weather/{{day.weather.icon}}.png" class="weather-icon">
                    <p>{{ day.temp.max | number : '1.0-0' }}° / {{ day.temp.min | number : '1.0-0' }}°</p>
                    <p>{{ day.weather.description | titlecase }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-weather-chart></app-weather-chart>
        </div>
    </div>
    
</div>