.display-container {
    margin-top: 70px;
    background-color: #efefef36;
    border-radius: 10px;
    .card {
        background-color: transparent;
        border-color: transparent;
        color: #fff;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 200px;
        cursor: pointer;
        .weather-icon {
            width: 35px;
        }
    }
    .card.active {
        background-color: #a4afb557;
    }
    
}
