<div class="display-container">
    <div class="row">
        <div class="col-md-3">
            <div class="card active">
                <div class="card-body">
                    <p class="date">Friday 17</p>
                    <img src="assets/images/weather/clouds-icon.png" class="weather-icon">
                    <p>33 / 27</p>
                    <p>Mostly Cloudly</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <p class="date">Saturday 18</p>
                    <img src="assets/images/weather/showers-day-icon.png" class="weather-icon">
                    <p>32 / 27</p>
                    <p>Rain Showers</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <p class="date">Sunday 19</p>
                    <img src="assets/images/weather/showers-scattered-icon.png" class="weather-icon">
                    <p>30 / 25</p>
                    <p>Thunderstorm</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <p class="date">Monday 20</p>
                    <img src="assets/images/weather/snow-icon.png" class="weather-icon">
                    <p>29 / 23</p>
                    <p>Snow</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-weather-chart></app-weather-chart>
        </div>
    </div>
    
</div>