<div class="bg-img">
  <ng-sidebar-container>
    <ng-sidebar 
        [(opened)]="_opened"
        [mode]="'push'"
        [closeOnClickOutside]="true"
        [animate]="true"
        [ariaLabel]="'Weatherify Sidebar'"
    >
      <div class="sidebar-header">
        <h3 class="sidebar-title">Weather<span>ify</span></h3>
      </div>
      <hr>
      <div class="sidebar-content">
        <h5>Cities:</h5>
        <p>Pristina, Kosovo</p>
        <button class="btn btn-primary add-btn">Add City</button>
      </div>
    </ng-sidebar>

    <div ng-sidebar-content>
        <app-header></app-header>
        <div class="container">
          <router-outlet></router-outlet>
        </div>
    </div>
  </ng-sidebar-container>
</div>