<div class="display-container">
    <div class="row">
        <div class="col-md-3" *ngFor="let day of weatherDays">
            <div class="card active">
                <div class="card-body">
                    <p class="date">{{ day.date | date: 'E dd' }}</p>
                    <img src="assets/images/weather/clouds-icon.png" class="weather-icon">
                    <p>33° / 27°</p>
                    <p>Mostly Cloudly</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-weather-chart></app-weather-chart>
        </div>
    </div>
    
</div>