/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: 'Roboto', sans-serif;
}

.ng-sidebar {
    background-color: #78acdc;
    color: #ffffff;
    .sidebar {
        &-header {
            // background-color: #78acdc;
        }
        &-title {
            padding: 20px;
            color: #ffffff;
            text-transform: uppercase;
            span {
                color: red;
            }
        }
        &-content {
            padding: 20px;
            .add-btn {
                border-radius: 10px;
                background-color: #ffffff;
                border-color: #ffffff;
                color: #78acdc;
            }
        }
    }
}